input{
    width: 500px;
    height: 50px;
    background-color: white;
    border: none;
    padding-left: 15px;
    margin-top: 15px;
}
select
{
    width: 500px;
    height: 50px;
    background-color: white;
    border: none;
    padding-left: 15px;
    margin-top: 15px;

}
#btn
{
    margin-left: 50px;
    margin-top: 15px;
    width: 250px;
    height: 40px;
}