.transaction-item
{
    display: flex;
    background-color: white;
    color: black;
    width: 500px;
    height: 70px;
    margin-top: 5px;
}
.expense-line
{
  border-right: 4px solid red;
  margin-left: 120px;
}
.income-line
{
   border-right: 4px solid green;
   margin-left: 120px;
}